<% content_for(:title) { "Draper Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-boston" data-view="Weather"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-blacksburg" data-view="Weather"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-martinsville" data-view="Weather"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mac-rumors" data-view="News" data-title="Mac Rumors" data-interval="30"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aww" data-view="RandomAww"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="boston-globe" data-view="News" data-title="Boston Globe" data-interval="30"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_kix" data-view="Travis" data-unordered="true" data-title="kix"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_luckycharms" data-view="Travis" data-unordered="true" data-title="luckycharms"></div>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="purple" data-id="tomtom" data-view="Traffic" data-title="Home Time"></div>
    </li>
  </ul>
</div>
