<% content_for(:title) { "Draper Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_status" data-view="GithubStatus" data-title="GitHub Status"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weather-raleigh" data-view="Weather"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weather-martinsville" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="circle-ci-propelmarketing-launchpad-master" data-view="CircleCi" data-title="launchpad"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="circle-ci-propelmarketing-darkwing-master" data-view="CircleCi" data-title="darkwing"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="ci_travis_findit" data-view="Travis" data-unordered="true" data-title="findit"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="ci_travis_giftlist" data-view="Travis" data-unordered="true" data-title="giftlist"></div>
    </li>
  </ul>
</div>
