<% content_for(:title) { "Draper Work Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-boston" data-view="Weather"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci_travis_shoulda_matchers" data-view="Travis" data-unordered="true" data-title="Shoulda Matchers"></div>
    </li>
  </ul>
</div>
